body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 30%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
