@import "../reset.css";
@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
body > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 70%;
}
body {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  height: 100vh;
}
header {
  padding: 20px;
  width: 100%;
}
body,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 시계 및 날짜 */
.time__wrapper {
  #clock {
    margin-top: 20px;
    font-size: 96px;
    display: flex;

    > span {
      display: block;
      width: 130px;
    }
    #hour {
      text-align: right;
    }
    #minute {
      text-align: center;
      width: 120px;
    }
    #second {
      text-align: left;
    }
    .divide {
      width: 25px;
      text-align: center;
    }
  }
}
#date {
  padding: 0 30px;
  display: none;
}

.clock__wrapper {
  display: flex;
  align-items: flex-end;
}

/* 로그인 입력창 및 로그인 후 화면 */
.login__wrapper {
  padding: 20px;
  font-size: 56px;
  font-family: "TAEBAEKmilkyway";
  > form > input {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
  }
  > h1 {
    font-size: 24px;
  }
}
input:focus {
  outline: none;
}

/* TODOLIST */
.todo__wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  width: 800px;
  height: 400px;
  border-radius: 30px;
}

#todo__form {
  display: flex;
  font-size: 18px;
  margin-bottom: 20px;
  > input {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    width: 80%;
  }
}
.list__wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__wrapper ul {
  height: 100%;
  width: 100%;
}
#todo__list {
  margin-left: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#todo__list li {
  margin-top: 8px;
}
#todo__list button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* 날씨 정보 */
#weather {
  position: absolute;
  right: 20px;
  top: 20px;
}
#weather span {
  display: block;
  text-align: right;
}
