.greeting__wrapper {
  padding: 20px;
}

/* 로그인 전 입력 폼 */
.greeting__login_form input {
  width: 300px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  font-family: inherit;
}
.greeting__login_form input:focus {
  outline: none;
}

/* 로그인 후 */
.greeting__greeting {
  display: flex;
  align-items: center;
}
.greeting__greeting h1 {
  font-size: 24px;
  margin: 0 10px;
}
.greeting__greeting button {
  display: block;
  position: relative;
  float: left;
  width: 60px;
  height: 30px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  background: #5dc8cd;
  &:hover {
    background: #01939a;
  }
}
